
<!-- <app-my-tst-component></app-my-tst-component>> -->
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"><app-breadcrumb-component></app-breadcrumb-component></div>
  <div class="mdl-cell mdl-cell--8-col"><button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
  Search
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
  View Errors
</button>
</div>
</div>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--4-col"><app-search-component></app-search-component></div>
  <div class="mdl-cell mdl-cell--8-col">
    <app-flow-selector-component (onPlatformName)="onPlatformName($event)" (onDomainName)="onDomainName($event)" (onPeName)="onPeName($event)" (onFlowName)="onFlowName($event)" >
    </app-flow-selector-component>
  </div>
</div>

