
		<ol class="breadcrumb">
			<li><a (click)="onReloadBreadcrumb()"><i class="material-icons">cached</i></a></li>
			<li><a
				(click)="showDomain(selectedPlatform)">{{selector.platformName}}</a></li>
			<li ng-show="selectedDomain != null"
				(click)="showPEs(selectedDomain)"><a>
					{{selector.domainName}}</a></li>
			<li ng-show="selectedPE != null" (click)="showFlows(selectedPE)"><a>{{selector.peName}}</a></li>
			<li ng-show="selectedFlow != null"><a>{{selector.flowName}}</a></li>
		</ol>


